<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="I2b2Data" connectionString="data source=pcfsqli2b2.pcf.wustl.edu;initial catalog=i2b2_odmxml;persist security info=True;user id=svc_i2b2_dbo;password=*******;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>